<div class="component">
  <h1>Choose data sets to compare</h1>

  <div class="collections">
    <div class="collection">
      <h2>First data set</h2>
      <select id="collection1" (change)="selectionChanged($event)">
        <option *ngFor="let col of collectionSelectData()" [value]="col.value" [selected]="col.value==collection1">{{col.name}}
      </select>
      <app-collection [name]="collection1"></app-collection>
    </div>

    <div class="collection">
      <h2>Second data set</h2>
      <select id="collection2" (change)="selectionChanged($event)">
        <option *ngFor="let col of collectionSelectData()" [value]="col.value" [selected]="col.value==collection2">{{col.name}}
      </select>
      <app-collection [name]="collection2"></app-collection>
    </div>
  </div>


  <div class="result">
    <button [type]="button" [disabled]="!readyToCompare" (click)="compare()">Compare</button>
    <app-result-grid [results]="comparisonResult"></app-result-grid>
  </div>
</div>
