div.CollectionComparisonRowItem {
	display: block;
	padding: 1px;
	margin-left: 1px;
	margin-right: 1px;
	font-size: 10pt;
	height: 24pt;
	overflow: hidden;
	background: lightgrey;
}

div.CollectionComparisonRowItem div.name {
	
}

div.CollectionComparisonRowItem div.score {
	font-size: smaller;
	text-align: center;
}

ul.itemdata {
	display: block;
	border: 1px solid black;
	font-size: 6pt;
	background-color: lightyellow;
}

